@import '../../../../mixins/mixins.scss';

.modal {
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50%);
  position: fixed;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 341px;
  height: 338px;
  border-radius: 5px;
  background-color: white;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  @include respond-to(medium) {
    width: 510px;
    height: 510px;
  }

  @include respond-to(mobile-medium) {
    width: 280px;
  }

  &__closeButton {
    position: absolute;
    top: 10px;
    right: 10px;

    @include respond-to(mobile) {
      top: 5px;
      right: 5px;
    }
  }
}
