@import '../../../../mixins/mixins.scss';

.modal {
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50%);
  position: fixed;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 341px;
  height: 338px;
  border-radius: 5px;
  background-color: #c4c4c4;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all .3s;

  @include respond-to(mobile-medium) {
    width: 280px;
  }

  &__closeButton {
    position: absolute;

    @include respond-to(mobile-medium) {
      top: 5px;
      right: 5px;
    }
  }
}
