.confirmButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #9f9f9f;
  border-radius: 5px;
  width: 195px;
  height: 42px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
