@import '../../../../mixins/mixins.scss';

.textInput {
  width: 260px;
  height: 30px;
  padding-left: 8px;
  background: #fff;
  border-radius: 5px;
  border: none;
  border: 2px solid #fff;

  @include respond-to(mobile-medium) {
    width: 210px !important;
  }
}

.textInput:focus {
  outline: none;
  border: 2px solid #2D767F;
}
