@import '../../../../mixins/mixins.scss';

.closeButton {
  background-color: #9F9F9F;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;

  @include respond-to(mobile-medium) {
    top: 0;
    right: 0;
  }
}

.closeButton:focus {
  outline: none;
}
